
<configuration>
    <appender name="DebugAppender" class="ch.qos.logback.core.FileAppender">
        <file>last-exec.log.htm</file>
        <append>false</append>
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <pattern>%r%C{1}%L%t%p%m</pattern>
        </layout>
    </appender>
    <appender name="HistoryAppender" class="ch.qos.logback.core.FileAppender">
        <file>history.log.htm</file>
        <append>false</append>
        <layout class="ch.qos.logback.classic.html.HTMLLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss}%p%C{1}%t%m</pattern>
        </layout>
    </appender>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%p %C{1}:%L %t] %m%n</pattern>
        </layout>
    </appender>
    <logger level="DEBUG" name="com.mudounet">
         <appender-ref ref="DebugAppender"/>       
    </logger>
    <root level="INFO">

        <appender-ref ref="HistoryAppender"/>
        <appender-ref ref="ConsoleAppender"/>
    </root>
</configuration>